*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

@font-face {
    font-family: 'Sora';
    src: url(../assets/font/Sora/Sora-VariableFont_wght.ttf);
}

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
}



.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20dvh;
}

.caja_navbar{
    justify-content: center;
    align-items: center;
    height: 14dvh;
}

.navbar__custom{
    border: 3px solid #004aad ;
    border-radius: 20px;
    background-color: #ffffff;
}

.nav__font--color{
    color: #004aad;
}

.navbar-toggler-icon{
    background-color: #004aad;
}

.navbar-toggler{background-color: #004aad;}


.hero__container{
    background-color: #F1C40F ;;
    height: 40dvh;
}

.carousel-inner{
    border: 3px solid #F1C40F ;
    border-radius: 20px;
}