*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

@font-face {
    font-family: 'Sora';
    src: url(../assets/font/Sora/Sora-VariableFont_wght.ttf);
}

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
}






/* ------ HEADER ------ */
.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 15dvh;
}


@media (max-width: 620px){
    .nav__container{
        display: none;
    }
    .header__nav__mq{
        display: none;
    }
}

@media (min-width: 621px){
    .header__container{
        height: 25dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .elementos__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .nav__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav__container ul{
        display: inline;
        width: 800px;
        padding: 0;
    }
    .header__nav__mq a{
        text-align: center;
        font-size: 20px;
    }

    .header__nav__mq a:hover{
        color: #004bad6c;
    }
}

@media (min-width: 900px){
    .elementos__header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}


.header__nav__mq li{
    list-style-type: none;
    display: inline;
    margin: 6px
}

.header__nav__mq a{
    text-decoration: none;
}



/* ------ MENU SANDWICH ------ */
.caja_navbar{
    height: 10dvh;
}

@media (min-width: 621px){
    .caja_navbar{
        display: none;
    }
}

.navbar__custom{
    border: 3px solid #004aad ;
    border-radius: 20px;
    background-color: #ffffff;
}

.nav__font--color{
    color: #004aad;
}

.navbar-toggler-icon{
    background-color: #004aad;
}

.navbar-toggler{background-color: #004aad;}


/* ------ HERO ------ */
.hero__container{
    background-image: url(../assets/img/deslizadores.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__h1{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    background-color: #004bad6c;
    border-radius: 20px;
}

@media (min-width: 769px){
    .hero__h1{
        max-width: 60%;
        font-size: 30px
    }
}

/* ------ DESCRIPCION ------ */
.descripcion_breve{
    background-color: #004aad;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion_breve h2{
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    color: #ffffff;
}

@media (min-width: 769px){
    .descripcion_breve h2{
        max-width: 70%;
    }
}


/* ------ CONTENEDOR IMAGEN DATOS ------ */
.imagen__datos{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* GRID PARA MEDIA 1010px */
@media (min-width: 1010px){
    .imagen__datos{
        padding: 20px;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-areas:
        "des_imagen des_titulo"
        "des_imagen des_descripcion"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }
}

@media (min-width: 1200px){
    .imagen__datos{
        padding: 20px;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-areas:
        "des_imagen des_titulo"
        "des_imagen des_descripcion"
        ;
        grid-template-columns: 40% 40%;
        grid-template-rows: auto auto auto;
    }
}

@media (min-width: 601px){
    .imagen__datos_h2 h2{
    margin: 10px;
    }
    .imagen__datos_dl dl{
    margin: 10px;
    }
}

/* ______IMAGEN__DATOS_IMAGEN______ */
.imagen__datos_img{
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: des_imagen;
}
.imagen__deslizadores{
    border-radius: 20px;
    max-height: 90%;
}
/* MEDIA 601 */
@media (min-width: 601px){
    .imagen__deslizadores{
        max-width: 100%;
    }
}
/* MEDIA 1010 */
@media (min-width: 1010px){
    .imagen__datos_img{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagen__deslizadores{
        width: 100%;
        max-height: auto;
    }
}





/* ______IMAGEN__DATOS_H2______ */
.imagen__datos_h2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: des_titulo;
}
.imagen__datos_h2 h2{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
/* MEDIA 1010 */
@media (min-width: 1010px){
    .imagen__datos_h2{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
    }
    .imagen__datos_h2 h2{
        font-size: 30px ;
    }
}




/* ______LISTA DETALLADA______ */
.imagen__datos_dl {
    grid-area: des_descripcion;
}
.imagen__datos_dl dt{
    font-size: 15px;
    color:#004aad;
}
.imagen__datos_dl dd{
    font-size: 14px;
}
/* MEDIA 601 */
@media (min-width: 601px){
    .imagen__datos_dl{
        padding: 10px;
    }
    .imagen__datos_dl dt{
        font-size: 20px;
    }
    .imagen__datos_dl dd{
        font-size: 20px;
    }
}
/* MEDIA 1010 */
@media (min-width: 1010px){
    .imagen__datos_dl dt{
        font-size: 30px;
    }
    .imagen__datos_dl dd{
        font-size: 20px;
    }
    .imagen__datos_dl{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .imagen__datos_dl dt{
        font-size: 30px;
    }
}




/* ------ FOOTER ------ */
.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60dvh;
    background-color: #004aad;
    padding: 20px;
}

@media (min-width: 1010px){
    .footer__container{
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-areas:
        "logo redes telefono"
        "derechos derechos derechos"
        ;
        grid-template-columns: repeat(3);
        grid-template-rows: auto auto;

        height: 40dvh;
        gap: 30px;
    }
    
}




/* IMAGEN LOGO */
.logo_footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    grid-area: logo;
}

/* LISTA REDES SOCIALES */
.footer__menu_redes{
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: redes;
}
.footer__menu_redes img{
    width: 10%;
}
.footer__menu_redes a{
    color:white;
    text-decoration: none;
}
.footer__menu_redes a:hover{
    color: black;
}
.footer__menu_redes li{
    list-style-type: none;
}

/* TELEFONO */
.footer__telefono{
    text-align: center;
    grid-area: telefono;
}
.footer__telefono h3,h4{
    color: white;
}

/* DERECHOS RESERVADOS */
.derechos__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    grid-area: derechos;
    margin: 20px;
}
.derechos__container p{
    font-size: 10px;
    color: white;
}

