/* ------------ PRODUCTOS ------------- */
.productos__container{
    width: 100%;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    @include flex-center-center;
    .productos_titulo {
        flex-direction: column;
        h1{
            text-align: center;
            font-size: 20px;
        } 
        p{
            text-align: center;
            font-size: 18px;
            color: $color-alert;
        }
    }
}

.productos_titulo{
    @include flex-center-center;
    height: auto;
}

.productos__pack{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor__row{
    @include flex-center-center;
}

.imagen_pack_b h2, p, label{
    color: rgb(255, 255, 255);
}

.datos_paquete p{
    color: rgb(255, 255, 255);
}

.carta{
    width: 100%;
    height: 330px;
    max-width: 320px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/img/deslizadores_taplaverde_tiny.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2.6;
    border-radius: 30px;
    border:$color-tertiary solid 5px;
    margin: 3px;
    flex-direction: column;
    @include flex-center-center;
}

.seccion_compra{
    .select_colores{
        color: $color-primary;
        background-color: $color-tertiary;
        border: none;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }
    .button_compra{
        color: $color-primary;
        background-color: $color-tertiary;
        border: none;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }
    .button_compra:hover{
        background-color: $color-p_hover;
    }
}

@media (min-width:632px){
    .productos__container{
        width: 100%;
        height: 120dvh;
        padding: 20px;
        flex-direction: column;
        @include flex-center-center;
    }
    .carta{
        height: 380px;
    }
}

@media (min-width:945px){
    .productos__container{
        height: auto;
    }
}

@media (min-width:1200px){
    .productos__container{
        width: 100%;
        height: auto;
        padding: 20px;
        .productos_titulo{
            @include flex-center-center;
            max-width: 80%;
            h1{
                font-size: 30px;
            } 
            p{
                font-size: 20px;
            }
        }
    }
    .productos__pack{
        height: 500px;
    }
    .carta{
        height: 380px;
    }
}