// Conceptos de Mixins


@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin animation{
    @keyframes animacion{
        0%{display: none;}
        100%{display: block;}
    }
}